apiVersion: v2
actions:
  - name: "infrastructure"
    events:
      - name: "sh.keptn.event.platform-setup.triggered"
    tasks:
      - name: "crossplane"
        files:
          - crossplane
          - scripts
        image: "ghcr.io/thschue/kubectl:latest"
        imagePullPolicy: "Always"
        cmd:
        - "ash"
        args:
        - "/keptn/scripts/run_crossplane.sh"