apiVersion: v2
actions:
  - name: "infrastructure"
    events:
      - name: "sh.keptn.event.platform-setup.triggered"
    tasks:
      - name: "crossplane"
        files:
          - crossplane
        image: "ghcr.io/thschue/kubectl:latest"
        imagePullPolicy: "Always"
        args:
          - /kubectl
          - apply
          - '-k'
          - '/keptn/crossplane/.'
          - '&&'
          - /kubectl
          - wait
          - '--for=condition=synced'
          - cluster/$(STAGE)-cluster
          - '--timeout=600s'
        env:
          - name: STAGE
            value: "$.data.stage"
            valueFrom: event