apiVersion: v2
actions:
  - name: "infrastructure"
    events:
      - name: "sh.keptn.event.infrastructure-delivery.triggered"
    tasks:
      - name: "terraform"
        maxPollDuration: 3600
        files:
          - terraform
        image: "hashicorp/terraform:1.0.6"
        cmd:
          - sh
        args:
          - /keptn/terraform/terraform.sh
        env:
          - name: terraform-google-creds
            valueFrom: secret
          - name: keptn-api-token
            valueFrom: secret
          - name: keptn-hostname
            valueFrom: secret